{% extends "base.j2" %}

{% block main -%}
<article class="post">

    <!--
    <br>
    <div id="twitter_share">
    <a href="http://twitter.com/share"
        class="twitter-share-button"
        data-count="vertical"
        data-via="{{ tweet_via }}">Tweet</a>
        <script type="text/javascript"
            src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div id="facebook_like">
    <iframe src="http://www.facebook.com/plugins/like.php?href&amp;layout=box_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=65"
                scrolling="no"
                frameborder="0"
                style="border:none; overflow:hidden; width:450px; height:65px;"
                allowTransparency="true"></iframe>
    </div>
    -->

    <div class="grid_3">
        <h1>
            <!--a href="{{ content_url(resource.url) }}"-->
                {{ resource.meta.title }}
            <!--/a-->
        </h1>
        <nav class="post_nav">
            <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}" class="posttime">Posted on {{ resource.meta.created.strftime('%A, %B %-d, %Y') }}</time>.

            {% if resource.prev_by_time %}
                <a class="prev more" title="Previous entry: {{ resource.prev_by_time.meta.title }}" href="{{ content_url(resource.prev_by_time.url) }}">&larr;&nbsp;{{ resource.prev_by_time.meta.title }}</a>,
            {% endif %}

            {% if resource.next_by_time %}
                <a class="next more" title="Next entry: {{ resource.next_by_time.meta.title }}" href="{{ content_url(resource.next_by_time.url) }}">{{ resource.next_by_time.meta.title }}&nbsp;&rarr;</a>,
            {% endif %}

            <a class="backlink more" title="List all blog entries" href="{{ content_url(resource.node.url) }}">All Entries&nbsp;&uarr;</a>.
        </nav>

        {% if resource.meta.tags %}
        <ul class="tags clear">
        {% for tag in resource.meta.tags %}
        <li>
            <a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">
                {{ tag }}
            </a>
        </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% filter markdown|typogrify -%}
        {% mark post -%}
        {% block post -%}{%- endblock %}
        {%- endmark %}
        {%- endfilter %}
    </div>
</article>

{%- endblock %}